$color-primary: #eb8253;
$color-black: #000;
$color-white: #fff;
$color-dark-gray: #84c2b3;
$color-light-gray: #d3d7d0;
$color-mid-gray: #767b78;

$font-family: "Public Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-weight-normal: 300;
$font-weight-bold: 600;

$content-width: 1200px;
$content-width-extended: 1400px;

$breakpoint-small: 600px;
$breakpoint-medium: 1000px;
